html {
  font-size: 10px;
}

body {
  background-color: $body-background-colour;
}

.container {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  left: 50%;
  max-width: 75rem;
  position: absolute;
  transform: translateX(-50%);
  width: 80%;
}
