.game {
  display: flex;
  flex-wrap: wrap;
}

.ticket {
  border: 1px solid $colour-black;
  box-shadow: 5px 5px 0px 0px $dropshadow-color;
  display: flex;
  margin: 1rem;
  position: relative;

  &.winner {
    border: 1px solid $colour-green;

    &::after {
      background-color: $colour-green;
      content: 'Winner!';
      display: block;
      font-size: 9rem;
      line-height: 11rem;
      opacity: .7;
      position: absolute;
      text-align: center;
      width: 100%;
    }
  }
}

.numbers {
  display: flex;
  flex-wrap: wrap;
  width: 31.5rem;
}

.number {
  background-color: $colour-white;
  border-bottom: 1px solid $colour-black;
  border-right: 1px solid $colour-black;
  box-sizing: border-box;
  font-size: 2rem;
  height: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
  width: 3.5rem;

  &:nth-last-child(-n+9) {
    border-bottom: 0;
  }

  &.called {
    background: $colour-red;
  }
}

.counter {
  background-color: $colour-teal;
  font-size: 4rem;
  padding-top: 2.5rem;
  position: relative;
  text-align:center;
  width: 10rem;

  &::after {
    bottom: 1rem;
    content: 'To Go!';
    display: block;
    font-size: 2rem;
    position: absolute;
    text-align: center;
    width: 100%;
  }
}
