.ui {
  margin-top: 1rem;

  .wrapper {
    background-color: $ui-background-colour;
    border: 1px solid $colour-black;
    box-shadow: 5px 5px 0px 0px $dropshadow-color;
    padding: 1rem;
    position: relative;
    z-index: 1;
  }
}

.game-title {
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
}

.ball {
  background-color: $colour-white;
  border-radius: 50%;
  font-size: 6rem;
  font-weight: bold;
  height: 9rem;
  line-height: 9.5rem;
  margin: 5rem auto;
  position: relative;
  text-align: center;
  width: 9rem;

  &::before {
    border-radius: 50%;
    content: '';
    display: block;
    height: 12rem;
    left: -1rem;
    top: -1rem;
    position: absolute;
    width: 12rem;
    z-index: -1;
  }

  &.red::before {
    background-color: $colour-red;
  }

  &.pink::before {
    background-color: $colour-pink;
  }

  &.purple::before {
    background-color: $colour-purple;
  }

  &.blue::before {
    background-color: $colour-blue;
  }

  &.orange::before {
    background-color: $colour-orange;
  }

  &.green::before {
    background-color: $colour-green;
  }
}

.controls {
  margin-top: 2rem;
  text-align: center;

  button {
    height: 3rem;
    font-size: 2rem;
    width: 8rem;
  }
}

.console {
  border: 1px solid $colour-black;
  box-sizing: border-box;
  margin-top: 1rem;
  font-size: 1.25rem;
  padding: .5rem;
  width: 23rem;
}
