$colour-black: #000000;
$colour-white: #ffffff;
$colour-red: #f44336;
$colour-pink: #e91e63;
$colour-purple: #9c27b0;
$colour-blue: #2196f3;
$colour-orange: #ff9800;
$colour-green: #4caf50;
$colour-teal: #009688;

$body-background-colour: lighten($colour-blue, 30%);
$ui-background-colour: $colour-white;
$winner-stamp-colour: rgba(255, 0, 0, .8);
$dropshadow-color: rgba(0, 0, 0, .1);
